<div id="messages-wrapper">
<h1>Messages</h1>

<% @all_messages.each do |m| %>
	<p>
		<%= m.body %> 
		<% if m.receiver_id == current_user.id %>
			from
			<%= User.find(m.user_id).first_name %> <%= User.find(m.user_id).last_name %>
		<% end %>
	</p>

<% end %>

<p>Reply</p>

</div>