#map_body {
  background-color: #1E2933;
  padding-bottom: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

#map_header {
  height: 100px;
  width: 100%;
  background-color: #E28F09;
  margin-bottom: 10px;
}

#map_title {
  margin: 0;
  font-size: 500%;
  color: #FFF;
  text-align: center;
  // font-family: 'Work Sans', sans-serif;
  // font-family: 'Wire One', sans-serif;
  font-family: 'Signika', sans-serif;
  padding-top: 10px;
}

#map {
  display: inline-block;
  float: right;
	height: 371px;
	width: 100%;
}

.search_box {
  // background-color: #1A7256;
  background-color: #FFF;
  color: #1E2933;
  font-family: 'Wire One', sans-serif;
  // font-family: 'Signika', sans-serif;
  font-size: 20pt;
  width: 100%;
}

#search_title {
  background-color: #07B6C6;
  height: 40px;
  padding-bottom: 10px;
  text-align: center;
}


//
// #floating-panel {
//   position: relative;
//   top: 10px;
//   left: 20%;
//   z-index: 5;
//   background-color: #fff;
//   padding: 5px;
//   text-align: center;
//   font-family: 'Roboto','sans-serif';
//   line-height: 30px;
//   padding-left: 10px;
// }
//
// .clear{
//   clear:both;
// }
