.load{

  position: fixed;
  left: 50%;
  margin-left: -8.5%;
  top: 25%;
  z-index: 1;

  img{
    width: 300px;
  }
}

#map_body {
  padding-left: 20px;
  padding-right: 20px;
}

#map_header {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: #1E63BD;
}

#map_title {
  margin: 0;
  font-size: 350%;
  color: #FFF;
  padding-top: 15px;
}

#map {
  display: inline-block;
  float: right;
	height: 560px;
	width: 100%;
}

.map_title_text {
  color: #5B5B5B;
}

#two{
  color: #8B8B8B;

  h1{
    color: #3468A5;
  }
}

.added{
  color: green;
}


//
// #floating-panel {
//   position: relative;
//   top: 10px;
//   left: 20%;
//   z-index: 5;
//   background-color: #fff;
//   padding: 5px;
//   text-align: center;
//   font-family: 'Roboto','sans-serif';
//   line-height: 30px;
//   padding-left: 10px;
// }
//
// .clear{
//   clear:both;
// }
