// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background-color: #1E63BD !important;
  color: #FFF;
  padding-left: 10px;
}

.form_body {
  padding-left: 20px;
  padding-right: 20px;
}
