// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#large_title {
  font-size: 100px;
}

.first-slide, .second-slide, .third-slide{
  width: 100%;
}

.nav-star {
  height: 25px;
}

.featurette-image {
  height: 400px;
  // border-radius: 50%;
}
